

h1 title{
    margin-top: 40px;
    padding-top: 40px;
}



nav img{
   width: fit-content;
  height: auto;

}

nav a{
    color: black;
}

nav a:hover{
    color: white;
    border-bottom: black 3px solid;
}


main{
    padding-top: 0;
}
.foto-container img {
    width: 300px;
    height: 300px;
    padding-top: 0;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s;


}

.foto-container img:hover{
    border-color: black;
}

.foto-container p {
    font-size: 20px;

}

.btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.5s;
    border-radius: 10px;
}

.btn:hover {opacity: 1}

footer{
    background-color: #C4C4C4;
}


footer a{
    color: black;
}

footer a:hover{
    color: white;

}

input[type=email]{
    padding: 5px 245px 5px 15px ;
}

input[type=password]{
    padding: 5px 245px 5px 15px ;
}

input[type=text]{
    padding: 5px 245px 5px 15px ;
}

.bevestiging{
    border: white solid 3px;
    margin: 50px 50px 50px 10px;
    box-sizing: border-box;
    width: 25%;
    font-size: 1.2rem;
    box-shadow: 10px 10px 20px 10px rgb(0,0,0,0.2);

}

.box-content{
    padding: 20px 40px 40px 40px;
    box-sizing: border-box;
    border: white solid 3px;
    box-shadow: 10px 10px 10px 10px rgb(0,0,0,0.1);
    width: 30%;
    margin: 50px 50px;
}


input[type=submit]{

    background-color: black;
    color: white;
    padding: 10px 30px;
    text-align: center;
    font-size: 16px;
    margin: 10px 2px;
    opacity: 0.6;
    border-radius: 10px;

}

label {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;


}
.date{
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.email{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.password{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.username{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.subtext{
   font-size: small;
    color: crimson;
}

.form{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 100%;
    /*max-width: 400px;*/
    /*padding: 20px;*/
    /*gap: 20px;*/
}


form{
    width: fit-content;
}

.cancelDate{
    /*margin-top: 50px;*/
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    border: white solid 3px;
    margin: 50px 200px 160px 200px;
    box-sizing: border-box;
    font-size: 1.2rem;
    box-shadow: 10px 10px 20px 10px rgb(0,0,0,0.2);
}

/* overview calender styling */
.calendar {
    width: 350px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.calendar-header button {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}
#month-year {
    font-size: 1.2em;
    font-weight: bold;
}
.calendar-weekdays, .calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar-weekdays div, .calendar-dates div {
    text-align: center;
    padding: 10px;
}
.calendar-weekdays {
    background-color: #eaeef3;
}
.calendar-weekdays div {
    font-weight: bold;
}
.calendar-dates div {
    border-bottom: 1px solid #eaeef3;
    cursor: pointer;
}
.calendar-dates div:hover {
    background-color: #f1f1f1;
}
.calendar-previous-dates{
    color: lightgray;
}
.current-day{
    background-color: #adadb1;
    color: black;
}

.formContainer{
    border: white solid 3px;
    margin: 50px 150px 150px 50px;

    box-sizing: border-box;
    box-shadow: 10px 10px 20px 10px rgb(0,0,0,0.2);
}

.overview{
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;

}
